.section.booking {
  padding: 80px 0;
  background-color: var(--bg-secondary-color);
}

.booking .subcontainer {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.booking__form-fieldset {
  margin: 0 0 60px 0;
  padding: 0;
  border: none;
}

.booking__form-fieldset:last-child {
  margin-bottom: 40px;
}

.booking__form-legend {
  margin: 0 0 40px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.booking__form-legend_align_center {
  text-align: center;
}

.booking__form-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.booking__form-label {
  cursor: pointer;
}
.booking__form-label_button {
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  border: 3px solid var(--primary-color);
  outline: none;
  transition-property: color, border-color, background-color;
}

.booking__form-input-radio_visually-hidden {
  position: fixed;
  transform: scale(0);
}

.booking__form-input-radio_visually-hidden:checked
  + .booking__form-label_button {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
}

.booking__form-label_button:hover {
  background-color: #eadeed;
  border-color: #640aa3;
}

.booking__form-label_button:focus {
  background-color: var(--primary-color);
  border-color: #640aa3;
}

.booking__form-fieldset-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.booking__form-fieldset_vertical-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.booking__form-fieldset-subset {
  margin: 0;
  width: 290px;
}

.booking__form-fieldset-subset:last-child {
  width: 200px;
}

.booking__form-fieldset-subset-legend {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.booking__form-fieldset-subset-label {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: var(--primary-color);
  cursor: pointer;
}

.booking__form-fieldset-subset-label:last-child {
  margin-bottom: 0;
}

.booking__form-fieldset-subset-input {
  cursor: pointer;
}

.booking__form-fieldset-subset-input:focus {
  outline: 1px solid var(--secondary-color);
}

.booking__form-fieldset-subset-input[type="radio"] {
  width: 27px;
  height: 27px;
  transition-property: outline-color;
}

.booking__form-fieldset-subset-input[type="checkbox"] {
  width: 25px;
  height: 25px;
  transition-property: outline-color;
}

.booking-user-info-set {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.user-info-set__input-set {
  width: 290px;
}

.user-info-set__input-subset {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-set__input-wrapper {
  position: relative;
  margin-bottom: 36px;
  width: 100%;
}

.user-info-set__input-wrapper:last-child {
  margin: 0;
}

.user-info-set__input-wrapper_short {
  width: 134px;
}

.user-info-set__input,
.user-info-set__select {
  position: relative;
  padding: 12px 57px 12px 20px;
  width: 100%;
  height: 52px;

  transition-property: outline-color;
}

.user-info-set__input::before,
.user-info-set__input::-webkit-input-placeholder {
  content: attr(placeholder);
  font-size: 18px;
  line-height: 28px;
  color: var(--input-placeholder-color);
}

.user-info-set__input::after {
  position: absolute;
  right: 27px;
  top: 15px;
  content: url(../images/arrow_down.svg);
  width: 21px;
  height: 15px;
}

.user-info-set__input::-webkit-calendar-picker-indicator {
  position: absolute;
  content: "";
  right: 27px;
  top: 15px;
  color: var(--primary-color);
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.user-info-set__input::-webkit-datetime-edit {
  display: none;
}

.user-info-set__input:focus,
.user-info-set__select:focus {
  outline: 2px solid var(--secondary-color);
}

.user-info-set__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow_down.svg) white no-repeat 90.7% !important;
  background: url(../images/arrow_down.svg) white no-repeat calc(100% - 27px) !important;
  cursor: pointer;
}

.user-info-set__select:not(:valid),
.user-info-set__select:valid,
.user-info-set__select {
  font-size: 18px;
  line-height: 28px;
  color: var(--input-placeholder-color);
}

.user-info-set__label {
  position: absolute;
  top: -22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.booking__form-btn-submit {
  padding: 16px 50px;
  width: 300px;
  align-self: flex-end;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--tertiary-color);
  border: 3px solid transparent;
  border-radius: 10px;
  transition-property: border-color, background-color;
}

.booking__form-btn-submit:hover {
  background-color: #eadeed;
  border-color: var(--tertiary-color);
}

.booking__form-btn-submit:active {
  background-color: #eadeed;
  border-color: transparent;
}

.booking__form-btn-submit:focus {
  border-color: var(--tertiary-color);
}
