:root {
  --primary-color: #ffffff;
  --secondary-color: #cd06ff;
  --tertiary-color: #6c0287;
  --bg-primary-color: #1b1a1b;
  --bg-secondary-color: #440f51;
  --input-placeholder-color: #211e1e;
  --black-color: #000000;
  --dark-color: #1c1a1a;
  --control-color: #840aa3;
}
