*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* width: 100vw; */
  /* overflow-x: hidden; */
  /* margin-right: calc(-1 * (100vw - 100%)); */
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-style: normal;
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
}

ul {
  list-style: none;
}
/*For one craziest browser*/
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
/*./For one craziest browser*/

.block-title {
  margin: 0 auto 40px;
  padding: 0 100px;
  max-width: 980px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}

.header,
.section,
.footer {
  padding: 0 0 100px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  /*width: 1180px;*/
  max-width: 1240px;
}

.img-wrapper {
  display: flow-root;
}

.btn {
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.transition-global {
  transition-duration: 0.33s;
  transition-timing-function: ease-in-out;
}

a,
p,
h1,
h2,
legend,
figcaption,
span,
label,
button,
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border-bottom-white {
  border-bottom: 1px solid transparent;
  transition-property: border-color;
}

.border-bottom-white:hover {
  border-bottom-color: var(--primary-color);
}

.button {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 50px;
    max-width: 1024px;
  }
  .block-title {
    padding: 0 130px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 133%;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
    max-width: 768px;
  }
  .block-title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 150%;
  }
}
