.section-faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-faq__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  padding: 21px 70px 20px;
  margin-bottom: 20px;
  line-height: 46px;
  cursor: pointer;
}

.section-faq__list-item:last-child {
  margin: 0;
}

.section-faq__list-item-icon {
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, background-color;
}

.section-faq__list-item-icon-path {
  transition-property: color;
}

.section-faq__list-item:nth-child(odd) {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.section-faq__list-item:nth-child(odd) .section-faq__list-item-text {
  color: var(--dark-color);
}

.section-faq__list-item:nth-child(odd):hover .section-faq__list-item-icon {
  background-color: var(--tertiary-color);
}

.section-faq__list-item:nth-child(odd):hover .section-faq__list-item-icon-path {
  color: var(--primary-color);
}

.section-faq__list-item:nth-child(even) {
  background-color: var(--bg-secondary-color);
  color: var(--primary-color);
}

.section-faq__list-item:nth-child(even):hover .section-faq__list-item-icon {
  background-color: var(--primary-color);
}

.section-faq__list-item:nth-child(even):hover
  .section-faq__list-item-icon-path {
  color: var(--tertiary-color);
}

.section-faq__list-item:active .section-faq__list-item-icon-hiding-path {
  transform-origin: 51% 53%;
  transform: rotate(90deg);
}
