.section.features {
  padding-bottom: 170px;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.features__card {
  position: relative;
  width: 380px;
  height: 228px;
  display: inline-block;
  transition-property: transform;
}
/*
.features__card:nth-child(3n),
.features__card:nth-child(3n + 1) {
  transform: translateY(-19px);
}*/

.features__card:nth-child(3n + 2) {
  transform: translateY(70px);
}

.features__card:nth-child(3n):hover,
.features__card:nth-child(3n + 1):hover {
  transform: scale(1.1);
}

.features__card:nth-child(3n + 2):hover {
  transform: scale(1.1) translateY(70px);
}

.features__card-image {
  width: 100%;
}

.features__card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0px 40px 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .section.features {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .features__wrapper {
    gap: 30px 20px;
  }
  .features__card {
    width: 285px;
    height: 170px;
  }
  .features__card:nth-child(3n + 2) {
    transform: translateY(50px);
  }
  .features__card:nth-child(3n + 2):hover {
    transform: scale(1.1) translateY(50px);
  }
  .features__card-title {
    padding: 0px 20px 6px;
    height: 55px;
  }
  .features__card-title_multiline {
    height: 82px;
  }
}
