.footer {
  padding: 0;
}

.footer-wrapper {
  margin-bottom: 152px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer__map-wrapper {
  padding-top: 6px;
  width: 680px;
  height: 274px;
  overflow: hidden;
}

.footer__map-img {
  width: 100%;
  object-fit: cover;
  object-position: 100% -29px;
}

/* .footer__content-wrapper {
  padding-top: 10px;
} */

.address {
  margin: 0 0 38px;
}

.contacts__list {
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 26px;
}

.contacts__item {
  margin: 0 0 11px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  vertical-align: middle;
}

.contacts__item:last-child {
  margin: 0;
}

.contacts__icon {
  margin: 0 30px 0 0;
  padding: 0;
  vertical-align: middle;
}

.contacts__item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/**/
.footer__contacts {
  margin: 0 0 40px 0;
}

.footer__contact {
  position: relative;
  margin: 0;
  padding: 0 0 0 61px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  font-style: normal;
}

.footer__contact::before {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer__contact_type_address {
  margin: 0 0 38px;
  max-width: 320px;
}

.footer__contact_type_phone {
  margin-bottom: 11px;
}

.footer__contact_type_address::before {
  background-image: url("../images/location.svg");
  background-size: cover;
}

.footer__contact_type_phone::before {
  background-image: url("../images/phone_call.svg");
  background-size: cover;
}

.footer__contact_type_email::before {
  background-image: url("../images/envelope.svg");
  background-size: cover;
}

.footer__link {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  text-decoration: none;
  vertical-align: middle;
}

/**/

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.socials-list__item {
  margin: 0 25px 0 0;
  padding: 0;
  display: inline-block;
}

.socials-list__item:last-child {
  margin: 0;
}

.socials-list__link {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid transparent;
  transition-property: color, border-color;
}

.socials-list__link:hover {
  color: #eadeed;
}
.socials-list__link:active svg {
  color: var(--secondary-color);
}
.socials-list__link:focus {
  color: #eadeed;
  border-color: var(--secondary-color);
}

.footer__credits {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__copyright {
  text-align: left;
}

.footer__author-paragraph {
  margin: 0 0 6px;
  padding: 0;
  font-size: 14px;
}

.footer__author {
  text-align: right;
}

.footer__author-paragraph:last-child {
  margin: 0;
}

@media (max-width: 1300px) {
  .footer-wrapper {
    margin-bottom: 92px;
    align-items: flex-start;
  }
  .footer__contact {
    padding-left: 39px;
  }
  .footer__contact::before {
    width: 26px;
    height: 26px;
  }
  .socials-list__link-icon {
    width: 41px;
    height: 41px;
  }
  .footer__map-wrapper {
    padding-top: 6px;
    width: 542px;
    height: 274px;
    overflow: hidden;
  }
}
