.hero {
  padding-top: 25px;
}

.hero .container {
  position: relative;
  min-height: 823px;
}

.hero .container::before {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  bottom: 0;
  right: 30px;
  background: url("../images/banner.png") right/contain no-repeat;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.hero__subtext {
  margin: 0 0 30px 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
}

.hero__features {
  display: flex;
  gap: 40px;
}

.hero__feature {
  padding: 25px 0 150px;
  max-width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero__feature-title {
  color: var(--secondary-color);
  font-size: 75px;
  font-weight: 900;
  line-height: 106px;
  text-transform: uppercase;
}

.hero__feature-title_font_size_100 {
  font-size: 100px;
  line-height: 141px;
}

.hero__feature-text {
  font-size: 30px;
  text-align: center;
}

.btn-booking {
  padding: 25px 69px;
  font-size: 26px;
  font-weight: 700;
  background-color: var(--tertiary-color);
  color: inherit;
  border: 0;
  outline: 1px solid transparent;
  text-decoration: none;
  transition-property: background-color;
}

.btn-booking:hover {
  background-color: #840aa3;
}

.btn-booking:focus {
  background-color: #840aa3;
}

.btn-booking:active {
  background-color: #640aa3;
}

.hero__link-down {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 90px;
  color: inherit;
  text-decoration: none;
  outline: 1px solid transparent;
  transition-property: outline-color;
}

.hero__link-down-icon {
  fill: none;
  color: inherit;
  transition-property: color;
}

.hero__link-down-icon-circle {
  transition-property: color;
}

.hero__link-down-icon:hover {
  fill: var(--primary-color);
  color: var(--tertiary-color);
}

.hero__link-down-icon:hover .hero__link-down-icon-circle {
  color: var(--primary-color);
}

.hero__link-down-icon:active {
  fill: var(--tertiary-color);
  color: var(--primary-color);
}

.hero__link-down-icon:active .hero__link-down-icon-circle {
  color: var(--tertiary-color);
}

.hero__link-down:focus {
  outline: 1px solid var(--secondary-color);
}
