.hero {
  padding-top: 25px;
}

.hero .container {
  position: relative;
  min-height: 823px;
}

.hero .container::before {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  bottom: 0;
  right: 30px;
  background: url("../images/banner.png") right/contain no-repeat;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.hero__subtext {
  margin: 0 0 5px 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
}

.hero__features {
  display: flex;
  gap: 22px;
}

.hero__feature {
  padding: 25px 0 175px;
  max-width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero__feature-title {
  color: var(--secondary-color);
  font-size: 62px;
  font-weight: 900;
  line-height: 92px;
  text-transform: uppercase;
}

.hero__feature-title_font_size_100 {
  font-size: 100px;
  line-height: 141px;
}

.hero__feature-text {
  font-size: 30px;
  text-align: center;
}

.btn-booking {
  padding: 25px 69px;
  font-size: 26px;
  font-weight: 700;
  background-color: var(--tertiary-color);
  color: inherit;
  border: 0;
  outline: 1px solid transparent;
  text-decoration: none;
  transition-property: background-color;
}

.btn-booking:hover {
  background-color: #840aa3;
}

.btn-booking:focus {
  background-color: #840aa3;
}

.btn-booking:active {
  background-color: #640aa3;
}

.hero__link-down {
  position: absolute;
  left: calc(50% - 52px);
  bottom: 86px;
  color: inherit;
  text-decoration: none;
  outline: 1px solid transparent;
  transition-property: outline-color;
}

.hero__link-down-icon {
  fill: none;
  color: inherit;
  transition-property: color;
}

.hero__link-down-icon-circle {
  transition-property: color;
}

.hero__link-down-icon:hover {
  fill: var(--primary-color);
  color: var(--tertiary-color);
}

.hero__link-down-icon:hover .hero__link-down-icon-circle {
  color: var(--primary-color);
}

.hero__link-down-icon:active {
  fill: var(--tertiary-color);
  color: var(--primary-color);
}

.hero__link-down-icon:active .hero__link-down-icon-circle {
  color: var(--tertiary-color);
}

.hero__link-down:focus {
  outline: 1px solid var(--secondary-color);
}

@media (max-width: 1300px) {
  .hero {
    padding-top: 15px;
    padding-bottom: 40px;
  }
  .hero .container {
    min-height: 583px;
  }
  .hero .container::before {
    width: 453px;
    height: 520px;
    bottom: 0;
    right: 60px;
  }
  .hero__text {
    font-size: 120px;
  }

  .hero__subtext {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
  }
  .hero__features {
    gap: 22px;
  }

  .hero__feature {
    padding-bottom: 80px;
    max-width: 170px;
  }

  .hero__feature-title {
    font-size: 60px;
    line-height: 141%;
  }

  .hero__feature-title_font_size_100 {
    font-size: 80px;
    line-height: 141%;
  }

  .hero__feature-text {
    font-size: 26px;
    line-height: 115%;
  }

  .btn-booking {
    margin-left: 39px;
    padding: 17px 48px;
    font-size: 22px;
    line-height: 115%;
  }
  .hero__link-down {
    left: calc(50% - 33px);
    bottom: 42px;
  }
  .hero__link-down-icon {
    width: 67px;
    height: 67px;
  }
}
