.container-reviews {
  padding: 0 100px;
}

.section-reviews__guest-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-reviews__guest {
  margin: 0 0 50px 0;
  display: flow-root;
}

.section-reviews__guest:last-child {
  margin: 0;
}

.section-reviews__guest-figure {
  margin: 0 20px 0 0;
  float: left;
}
.section-reviews__guest-figure-image {
  width: 280px;
  height: 280px;
  margin: 0 0 11px 0;
  float: left;
  border-radius: 50%;
  object-fit: cover;
}

.section-reviews__guest-figure-image-wrapper {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
}

.section-reviews__guest-fgure-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(196, 196, 196, 0) 0%,
    rgba(108, 2, 135, 0.5) 100%
  );
}

.section-reviews__guest-figure-image-1 {
  object-position: 100% 0;
}

.section-reviews__guest-figure-image-2 {
  object-position: 100% -42px;
}

.section-reviews__guest-figure-image-3 {
  object-position: 100% -88px;
}

.section-reviews__guest-figure-figcaption {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  /*clear: both;*/
}

.section-reviews__guest-description {
  margin: 0;
  padding: 50px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
